html, body{
    margin: 0;
    height: 100%;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

section{
    margin: 30px 100px;
}

h1 {
    background-color: red;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

h2 {
    background-image: linear-gradient(#0047e0, #adf5cb);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.bali-images{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    max-width: 80vw;
}

form{
    background-color: #f5f5dc;
    margin-top: 20px;
    border: 2px solid #6a7b7e;
}