/* general */
html, body{
    margin: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

* {
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    line-height: 2.5ch;
}

p {
    font-weight: 350;
}

h2{
    font-size: 2.8em;
}

section {
    display: block;
    height:auto;
    padding: 80px 40px 80px 40px;
}

.nav-reg {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

header input[type="checkbox"]{
    display: none;
}

img[alt="toggle menu"]{
    width: 2em;
    max-width: 45px;
    filter: invert(100%);
}

label[for="mobile-menu"]{
    display: none;
}

.nav-mobile{
    display: none;
}

header{
    width: 100%;
    display: block;
}

.nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-ul-mobile {
    list-style: none;
    padding: 10px;
}

.nav-ul li a, .nav-ul-mobile li a{
    padding: 10px;
    text-decoration: none;
    color: rgb(0, 15, 29);
}

.nav-ul li a:hover, .nav-ul-mobile li a:hover{
    color: #882b00;
}

.nav-ul-mobile li{
    padding: 10px 0;
}

/* home/landing section */
#home{
    padding: 10vh 5vw 15% 5vw;
}

#home-bg{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    display: block;
    height: 100%;
    min-height: 85ch;
    width: inherit;
    background-image: linear-gradient(#01bcf5, #ff8c7d);
    transform: skewY(-9deg);
    transform-origin: top left;
    z-index: -1;
}

#home-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#home-name, #home-values{
    margin: 8ch;
}

#home-name{
    width: 22%;
}

#home-name h1 {
    font-size: 4.2em;
    font-weight: 900;
    text-shadow: 1px .5px .5px rgba(0, 0, 0, 0.5);
}

#home-values h2{
    font-size: 1.8em;
    text-transform: uppercase;
    margin: 50px 0 10px;
}

#home-values h2:first-child{
    opacity: 0.2;
}

#home-values h2:nth-child(2){
    opacity: 0.4;
}

#home-logo {
    display: flex;
    justify-content: space-evenly;
}

#home-logo img{
    width: 35px;
    height: 35px;
    padding-right: 2ch;
}

/* About section */
#about h3{
    background: linear-gradient(#006970, #149abb);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1, 1fr);
}

.grid-item-main{
    grid-column-start: 1; 
    grid-column-end: span 2;
    grid-row-start: 1;
}

.grid-item-other{
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 2;
}

aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    border-left: 1px solid black;
    box-shadow: inset 2px 0px 2px -2px;
    font-style: italic;
    color: rgb(71, 81, 87);
}

.grid-item-pic{
    grid-column: 3 / span 1;
    grid-row: 1/ span 2;
    justify-self: end;
    align-self: center;
}

.grid-item-pic img{
    width: 280px;
    height: 365px;
    box-shadow: 0px 5px 5px -2px rgba(0,0,0,.3);
}

/* Experience */
#experiences{
    background-color: #2e3342;
    color: ivory;
}

.experience-card{
    box-shadow: 2px 1px 2px 1px black;
    border-radius: 5px;
    background-color: #1d2d5f;
}

.experience-card-title{
    border-bottom: 1px solid rgb(36, 49, 122);
    border-radius: inherit; 
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px;
    background-color: rgb(16, 59, 139);
}

.experience-card-title h4, .experience-card-title p{
    margin: 0;
}

.experience-card-title p{
    color: rgb(201, 201, 201);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.experience-card-desc{
    padding: 10px;
}

#technical-skills > table{
    width: 100%;
    border-collapse: collapse;
    box-shadow: 5px 3px 5px -2px black;
    border-radius: 5px;
}

#technical-skills > table tr:first-child th:first-child {
    border-top-left-radius: 3px;
}

#technical-skills > table tr:first-child th:last-child {
    border-top-right-radius: 3px;
}

#technical-skills > table tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

#technical-skills > table tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

.table-skills{
    text-align: left;
    padding: 2ch;
}

#technical-skills > h3 + p {
    color: rgb(165, 165, 165);
}

.column-expertise{
    background-color: rgb(97, 0, 24);
    padding: 5px;
}

.column-tech{
    background-color: rgb(0, 38, 61);
    padding: 5px;
}

.skill-table-level-proficient{
    width: 30%;
    background-color: rgb(170, 49, 49);
    padding: 5px;
}

.skill-table-tools-proficient{
    background-color: rgb(18, 85, 161);
    padding: 5px;
}

.skill-table-level-familiar{
    width: 30%;
    background-color: rgb(148, 0, 0);
    padding: 5px;
}

.skill-table-tools-familiar{
    background-color: rgb(28, 28, 128);
    padding: 5px;
}

/* Projects */
#projects > h3{
    background: linear-gradient(#006970, #149abb);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slider{
    position: relative;
}

/* .slider ul li */
.project-element-grid-container-2{
    margin: 10px;
    grid-row: auto;
    grid-column: auto;
    visibility: visible;
    display: grid;
    grid-auto-flow: column;
    height: auto;
    flex-direction: row;
    box-shadow: 0px 3px 5px -2px rgba(0,0,0,.3);
    border-radius: 5px;
    position: relative;
    padding: 0;
    line-height: 300px;
    list-style: none;
}

.project-element-grid-container-2-js{
    margin: 10px;
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-auto-flow: column;
    height: auto;
    flex-direction: row;
    box-shadow: 0px 3px 5px -2px rgba(0,0,0,.3);
    border-radius: 5px;
    position: relative;
    margin: 10px;
    padding: 0;
    line-height: 300px;
    list-style: none;
}

.fade-in {
    opacity: 1;
    animation-name: fadeIn;
    animation-timing-function: ease-in;
    animation-duration: 100ms;
}

@keyframes fadeIn{
    0%{
        opacity: 40%;
        filter: contrast(90%);
    }
    100%{
        opacity: 100%;
        filter: none;
    }
}

.projects-container{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    width: 82vw;
    margin: auto;
    height: auto;
    padding: 10px;
}

.projects-container-js{
    display: grid;
    grid-template-rows: 1fr;
    width: 82vw;
    margin: auto;
    height: auto;
    padding: 10px;
}

span.prev-slide, span.next-slide{
    display: none;
}

span.prev-slide-js, span.next-slide-js {
    position: absolute;
    top: 40%;
    z-index: 999;
    padding: 0;
    display: block;
    margin: auto;
    width: auto;
    height: auto;
    color: rgb(212, 151, 151);
    text-shadow: 0 1px .5px rgba(0,0,0,.5);
    text-decoration: none;
    font-weight: 600;
    font-size: 3em;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 2px 2px 2px 2px;
    transition: linear 80ms;
}
  
span.prev-slide-js:hover, span.next-slide-js:hover {
    opacity: 1;
}
  
span.prev-slide-js {
    left: 0;
}
  
span.next-slide-js {
    right: 0;
}

.slide-nums-holder{
    display: none;
}

.slide-nums-holder-js{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.slide-num{
    padding: 10px;
    background-color: rgba(200, 230, 236, 0.5);
    margin: 5px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    transition: linear 80ms;
    text-align: center;
    width: 20px;
}

.slide-num:hover{
    cursor: pointer;
    background-color: rgba(148, 246, 253, 0.3);
}

.slide-num.active-slide{
    background-color: rgba(187, 219, 226, 0.8);
    font-weight: 900;
}

.grid-item-project-thumbnail{
    padding: 10px; 
    justify-self: center;
    background-color: rgb(195, 227, 231);
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

.grid-item-project-thumbnail iframe{
    border: 0;
}

.grid-item-project-detail{
    margin-bottom: 10px;
    padding: 0 10px 0 10px;
    height: 100%;
    background-color: rgb(247, 221, 215);
    display: grid;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    border-left: .5px solid rgba(0, 0, 0, 0.5);
}

.project-desc{
    margin: 0 10px 0 10px;
    height: fit-content;
}

.project-github{
    margin-bottom: 20px;
    justify-self: center;
    align-self: end;
    display: flex;
    justify-content: center;
}

.project-github a:hover{
    background-color: rgb(247, 247, 247);
    transition: ease-in 80ms;
}

.project-github a{
    color:rgb(16, 59, 139);
    text-decoration: none;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    border: .5px solid #aaaaaa;
    border-radius: 1ch;
    box-shadow: 0 3px 2px -2px #aaaaaa;
    padding: 1ch;
    background-color: #ffffff;
}

.project-github img{
    width: 30px;
    height: 30px;
    padding-left: 1ch;
}

/* Footer */
footer{
    display: block;
    margin: auto;
    bottom: 0;
    left:0;
    width:100%;
    padding: 30px 0px 200px 0px;
    max-height: 80vh;
    background-image: linear-gradient(#685b5b, #2b393a);
}

.grid-container-footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
}

.grid-item-footer-copyright{
    align-self: end;
    justify-self: end;
    color: rgb(250, 250, 250);
    padding-right: 10px;
}

.grid-item-footer-nav ul{
    list-style: none;
}

.grid-item-footer-nav > ul {
    box-shadow: inset 2px 0px 2px -2px;
    padding-left: 10px;
}

.grid-item-footer-nav ul li a{
    text-decoration: none;
    color: rgb(250, 250, 250);
}

.grid-item-footer-nav ul li{
    margin: 1ch 0;
}

.contact-list{
    padding: 0;
}



/* Media queries */
@media screen and (max-width:1024px){
    #home{
        padding-bottom: 25vh;
    }
    
    #home-bg{
        height: 80%;
    }

    .home-shades-value{
        display: none;
    }
    #home-content{
        display: block;
        margin-bottom: 30%;
    }

    #home-content img{
        margin: 2pt;
    }

    #home-logo{
        display: inline-block;
        justify-content: space-evenly;
    }

    .grid-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
    }

    .grid-item-pic{
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
    }

    .grid-item-pic img{
        width: 210px;
        height: 274px;
    }

    .grid-item-main{
        grid-column: 1 / span 2;
        grid-row: 1/ span 1;
        line-height: 3ch;
        margin: auto;
    }

    .grid-item-other{
        grid-row: 2 / span 1;
        grid-column: 1 / span 3;
    }


    .projects-container{
        display: grid;
        grid-template-columns: 1fr;
        box-sizing: border-box;
    }

    .projects-container-js{
        display: grid;
        grid-template-columns: 1fr;
        box-sizing: border-box;
    }

    .project-element-grid-container-2{
        display: flex;
        flex-direction: column;
        background-color: inherit;
        margin:auto;
        max-width: 650px;
        margin-bottom: 80px;
    }

    .project-element-grid-container-2-js{
        display: flex;
        flex-direction: column;
        background-color: inherit;
        margin:auto;
        max-width: 650px;
    }

    .grid-item-project-thumbnail iframe{
        justify-self: center;
        width: 100%;
    }

    .grid-item-project-thumbnail{
        border-top-right-radius: inherit;
        border-bottom-left-radius: 0;
    }

    .grid-item-project-detail{
        justify-self: center;
        margin-bottom: 0;
        padding-bottom: 10px;
        border-left: none;
        border-top: .5px solid rgba(0, 0, 0, 0.5);
    }
    
    .grid-item-project-detail{
        border-bottom-left-radius: inherit;
        border-top-right-radius: 0;
    }
}

@media screen and (max-width:768px) {
    .nav-reg{
        display: none;
    }

    label[for="mobile-menu"]{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
        padding: 10px;
    }

    :checked + .nav-mobile{
        display: block;
        position: relative;
        transition: 3s ease-out;
        border-radius: 5px;
    }
    
    :checked + .nav-ul-mobile{
        display: block;
        border-radius: 5px;
    }

    .nav-ul-mobile{
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        display: inline-block;
        border-radius: 5px;
    }

    .nav-ul-mobile li {
        overflow: hidden;
        padding-left: 0;
        padding-right: 0;
        font-weight: 800;
        background-color: rgba(136, 214, 243, 0.9);
        animation: rotate-menu .2s ease-in forwards;
        transform-origin: center center;
    }
    
    @keyframes rotate-menu {
        0% {
            /* opacity: 0.5; */
            transform: rotateX(-90deg)
        }
        70% {
            /* opacity: .7; */
            transform: rotateX(20deg) 
        }
        100% {
            /* opacity: 1; */
            transform: rotateX(0deg) 
        }
    }

    .nav-ul-mobile li a {
        padding-left: 10px;
    }

    #home{
        padding-bottom: 30%;
    }

    #home-values, #home-name{
        margin-left: 5ch;
        margin-right: 5ch;
    }

    .grid-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .grid-item-pic img{
        width: 400px;
        height: 522px;
    }

    .project-element-grid-container-2{
        display: flex;
        flex-direction: column;
        background-color: inherit;
        max-width: 600px;
        margin-bottom: 80px;
    }

    .grid-item-project-thumbnail iframe{
        width: 100%;
    }
}

@media screen and (max-width:480px) {
    .project-element-grid-container-2{
        display: flex;
        flex-direction: column;
        background-color: inherit;
        max-width: 450px;
    }

    #home-content{
        margin-bottom: 50%;
    }

    #home-name, #home-values{
        margin: 3ch;
    }
    #home-name{
        width: fit-content;
    }
    
    #home-name h1 {
        font-size: 3em;
    }
    
    #home-values h3{
        font-size: 1.5em;
    }
}