/* general */
html, body{
    margin: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

* {
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    line-height: 2.5ch;
}

.shown{
    display: block;
}

.hidden{
    display: none;
}

.invisible{
    visibility: hidden;
}

p {
    font-weight: 350;
}

h2{
    font-size: 2.8em;
}

main section {
    display: block;
    height:auto;
    padding: 80px 60px;
}

section > h2{
    text-shadow: 1px .5px 2px rgba(0, 0, 0, 0.5);
}

.nav-reg {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

header input[type="checkbox"]{
    display: none;
}

label[for="mobile-menu"]{
    display: none;
}

.nav-mobile{
    display: none;
}

header{
    width: 100%;
    display: block;
}

.nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-ul-mobile {
    list-style: none;
    padding: 10px;
}

.nav-ul li a, .nav-ul-mobile li a{
    padding: 10px;
    text-decoration: none;
    color: rgb(0, 15, 29);
}

.nav-ul li a:hover, .nav-ul-mobile li a:hover{
    color: #882b00;
}

.nav-ul-mobile li{
    padding: 10px 0;
}

/* home/landing section */
#home{
    padding: 10vh 5vw 15% 5vw;
}

#home-bg{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    display: block;
    height: 100%;
    min-height: 85ch;
    width: inherit;
    background-image: linear-gradient(#01bcf5, #ff8c7d);
    transform: skewY(-9deg);
    transform-origin: top left;
    z-index: -1;
}

#home-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#home-name, #home-values{
    margin: 8ch;
}

#home-name{
    width: 22%;
}

#home-name h1 {
    font-size: 4.2em;
    font-weight: 900;
    text-shadow: 1px .5px .5px rgba(0, 0, 0, 0.5);
}

#home-values h2{
    font-size: 1.8em;
    text-transform: uppercase;
    margin: 50px 0 10px;
}

#home-values h2:first-child{
    opacity: 0.2;
}

#home-values h2:nth-child(2){
    opacity: 0.4;
}

#home-logo {
    display: flex;
    justify-content: space-evenly;
}

#home-logo img{
    width: 35px;
    height: 35px;
    padding-right: 2ch;
}

/* About section */
.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    /* width: 82vw; */
    margin: auto;
    display: flex;
}

.grid-item-pic{
    grid-column: 1 / span 1;
    grid-row: 1 2;
    /* justify-self: end; */
    align-self: center;
    margin: 20px;
}

.grid-item-pic img{
    width: 280px;
    height: 365px;
    box-shadow: 0px 5px 5px -2px rgba(0,0,0,.3);
}

.grid-item-details{
    margin: 20px;
}

.grid-item-main ul li a{
    padding: 10px;
    text-decoration: none;
    color: rgb(31, 80, 126);
}

.grid-item-main ul li a:hover{
    color: rgb(80, 136, 189);
}

aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    border-left: 1px solid black;
    box-shadow: inset 2px 0px 2px -2px;
    font-style: italic;
    color: rgb(71, 81, 87);
}

/* Experience */
#experiences{
    background-color: #182442;
    color: ivory;
}

#experiences{
    position: relative;
    perspective: 800px;
    overflow: hidden;
}

#experiences img[alt="experience svg"]{
    width: 600px;
    height: 600px;
    top: 100px;
    right: 30px;
    position: absolute;
    transform: rotate3d(-0, -8, 0, 35deg) rotateZ(5deg);
    filter: blur(3px);
    opacity: 0.3;
    z-index: -1;
}

@media screen and (max-width:1320px) {
    #experiences img[alt="experience svg"]{
        opacity: 0.3;
        width: 550px;
        height: 550px;
        top: 140px;
        right: 0px;
    }
}

.experience-card{
    box-shadow: 2px 1px 2px 1px black;
    border-radius: 5px;
    background-color: #05374d;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 90%;
    max-width: 700px;
}

.fade-in-entry{
    animation: fadeInRight 500ms ease-in-out;
    visibility: visible;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
  }
}

.experience-card-title{
    /* border-bottom: 1px solid rgb(36, 49, 122); */
    border-radius: inherit; 
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px;
    background-color: #05445E;
}

.experience-card-title h4, .experience-card-title p{
    margin: 0;
}

.experience-card-title h4{
    font-size: 1.3rem;
}

.experience-card-title h4 a{
    color: rgb(208, 240, 240);
    text-decoration: none;
}

.experience-card-title h4 a:hover{
    color: rgb(179, 209, 209);
}

.experience-card-title p{
    color: rgb(201, 201, 201);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.experience-card-desc{
    padding: 10px;
}

.experience-card-desc p a{
    color: rgba(136, 214, 243, 0.9);
    text-decoration: none;
}

.experience-card-desc p a:hover{
    color: rgba(129, 181, 201, 0.9);
}

.timeline{
    position: relative;
}

.timeline::before{
    content: '';
    background: rgba(250, 250, 250, 0.5);
    width: 2px;
    height: 95%;
    position: absolute;
    z-index: -1;
}

.timeline-item{
    margin-bottom: 20px;
    margin-left: 20px;
}

.timeline-dots{
	width: 12px;
	height: 12px;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 50%;
	position: absolute;
	margin-top: 30px;
	margin-left: -25px;
}


#technical-skills > table{
    width: 100%;
    border-collapse: collapse;
    box-shadow: 5px 3px 5px -2px black;
    border-radius: 5px;
}

#technical-skills > table tr:first-child th:first-child {
    border-top-left-radius: 3px;
}

#technical-skills > table tr:first-child th:last-child {
    border-top-right-radius: 3px;
}

#technical-skills > table tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

#technical-skills > table tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

.table-skills{
    text-align: left;
    padding: 2ch;
}

#technical-skills{
    margin-top: 50px;
    max-width: 900px;
}

#technical-skills > h3 {
    font-size: 1.3rem;
}

#technical-skills > h3 + p {
    color: rgb(165, 165, 165);
}

.column-expertise{
    background-color: rgb(97, 0, 24);
    padding: 5px;
}

.column-tech{
    background-color: rgb(0, 38, 61);
    padding: 5px;
}

.skill-table-level-proficient{
    width: 30%;
    background-color: rgb(170, 49, 49);
    padding: 5px;
}

.skill-table-tools-proficient{
    background-color: rgb(18, 85, 161);
    padding: 5px;
}

.skill-table-level-familiar{
    width: 30%;
    background-color: rgb(148, 0, 0);
    padding: 5px;
}

.skill-table-tools-familiar{
    background-color: rgb(28, 28, 128);
    padding: 5px;
}

/* Projects */
#projects{
    position: relative;
    overflow: hidden;
}

.slider{
    position: relative;
    max-width: 970px;
}

/* .slider ul li */
.project-element-grid-container-2{
    margin: 10px;
    grid-row: auto;
    grid-column: auto;
    visibility: visible;
    display: grid;
    grid-auto-flow: column;
    height: auto;
    flex-direction: row;
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,.2);
    border-radius: 5px;
    position: relative;
    padding: 0;
    line-height: 300px;
    list-style: none;
}

.project-element-grid-container-2-js{
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-auto-flow: column;
    height: auto;
    flex-direction: row;
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,.2);
    border-radius: 5px;
    position: relative;
    margin: auto;
    line-height: 300px;
    list-style: none;
    width: 80vw;
    max-width: 900px;
}

.fade-in {
    opacity: 1;
    animation-name: fadeIn;
    animation-timing-function: ease-in;
    animation-duration: 100ms;
}

@keyframes fadeIn{
    0%{
        opacity: 40%;
        filter: contrast(90%);
    }
    100%{
        opacity: 100%;
        filter: none;
    }
}

.projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 82vw; */
    margin: auto;
    height: auto;
    padding: 10px;
}

.projects-container-js{
    display: grid;
    grid-template-rows: 1fr;
    /* width: 82vw; */
    margin: auto;
    height: auto;
    padding: 10px;
}

span.prev-slide, span.next-slide{
    display: none;
}

span.prev-slide-js, span.next-slide-js {
    position: absolute;
    top: 40%;
    z-index: 999;
    padding: 0;
    display: block;
    margin: auto;
    width: auto;
    height: auto;
    color: rgb(212, 151, 151);
    text-shadow: 0 1px .5px rgba(0,0,0,.5);
    text-decoration: none;
    font-weight: 600;
    font-size: 3em;
    opacity: 1;
    cursor: pointer;
    border-radius: 2px 2px 2px 2px;
    transition: linear 80ms;
}
  
span.prev-slide-js:hover, span.next-slide-js:hover {
    color: rgb(192, 134, 134);
}
  
span.prev-slide-js {
    left: 0;
}
  
span.next-slide-js {
    right: 0;
}

.slide-nums-holder{
    display: none;
}

.slide-nums-holder-js{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.slide-num{
    padding: 10px;
    background-color: rgba(200, 230, 236, 0.5);
    margin: 5px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    transition: linear 80ms;
    text-align: center;
    width: 20px;
}

.slide-num:hover{
    cursor: pointer;
    background-color: rgba(187, 219, 226, .9);
}

.slide-num.active-slide{
    background-color: rgba(187, 219, 226, 0.8);
    font-weight: 900;
}

.grid-item-project-thumbnail{
    padding: 10px; 
    justify-self: center;
    background-color: rgb(179, 203, 211);
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

.grid-item-project-thumbnail iframe{
    border: 0;
}

.grid-item-project-thumbnail img{
    width: 560px;
    height: 315px;
}

.grid-item-project-detail{
    margin-bottom: 10px;
    height: 100%;
    background-color: rgb(247, 227, 223);
    display: grid;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

.project-desc{
    margin: 0 10px 0 10px;
    height: fit-content;
}

.project-github{
    margin-bottom: 20px;
    justify-self: center;
    align-self: end;
    display: flex;
    justify-content: center;
}

.project-github a:hover{
    background-color: rgb(247, 247, 247);
    transition: ease-in 80ms;
}

.project-github a{
    color:rgb(16, 59, 139);
    text-decoration: none;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    border: .5px solid #aaaaaa;
    border-radius: 1ch;
    box-shadow: 0 3px 2px -2px #aaaaaa;
    padding: 1ch;
    background-color: #ffffff;
}

.project-github img{
    width: 30px;
    height: 30px;
    padding-left: 1ch;
}

.project-toggle-desc{
    display: none;
}

#projects img[alt="code image"]{
    width: 600px;
    height: 600px;
    bottom: 100px;
    right: -30px;
    position: absolute;
    transform: rotate3d(-0, -8, 0, 35deg) rotateZ(5deg);
    /* opacity: 0.8; */
    filter: grayscale(.5) contrast(92%) brightness(1.1) blur(4px);
    z-index: -1;
}

#projects img[alt="code image 2"]{
    width: 550px;
    height: 550px;
    bottom: 0;
    right: -70px;
    position: absolute;
    transform: rotate3d(-0, -8, 0, 35deg) rotateZ(5deg);
    opacity: 0.3;
    filter: blur(4px);
    z-index: -2;
}

/* Footer */
footer{
    display: block;
    margin: auto;
    bottom: 0;
    left:0;
    width:100%;
    padding: 30px 0px 200px 0px;
    max-height: 80vh;
    background-image: linear-gradient(#685b5b, #2b393a);
}

.grid-container-footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
}

.grid-item-footer-copyright{
    align-self: end;
    justify-self: end;
    color: rgb(250, 250, 250);
    padding-right: 10px;
}

.grid-item-footer-nav ul{
    list-style: none;
}

.grid-item-footer-nav > ul {
    box-shadow: inset 2px 0px 2px -2px;
    padding-left: 10px;
}

.grid-item-footer-nav ul li a{
    text-decoration: none;
    color: rgb(250, 250, 250);
}

.grid-item-footer-nav ul li{
    margin: 1ch 0;
}

.grid-item-footer-nav ul li a:hover{
    color: #ddd;
}

.contact-list{
    padding: 0;
}

.footer-socials{
    display: flex;
    justify-content: center;
}

.footer-socials a img{
    width: 1.5em;
    height: 1.5em;
    padding: 10px;
    filter: invert(100%);
}

.footer-socials a img:hover{
    filter: invert(80%);
}


/* Media queries */
@media screen and (max-width:1024px){
    #home{
        padding-bottom: 25vh;
    }
    
    #home-bg{
        height: 80%;
    }

    .home-shades-value{
        display: none;
    }
    #home-content{
        display: block;
        margin-bottom: 30%;
    }

    #home-content img{
        margin: 2pt;
    }

    #home-logo{
        display: inline-block;
        justify-content: space-evenly;
    }

    .grid-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .grid-item-pic img{
        width: 400px;
        height: 522px;
    }

    #experiences img[alt="experience svg"]{
        display: none;
    }

    #projects img[alt="code image"]{
        display: none;
    }
    
    #projects img[alt="code image 2"]{
        display: none;
    }

    .projects-container{
        display: grid;
        grid-template-columns: 1fr;
        box-sizing: border-box;
    }

    .projects-container-js{
        display: grid;
        grid-template-columns: 1fr;
        box-sizing: border-box;
    }

    .project-element-grid-container-2{
        display: flex;
        flex-direction: column;
        background-color: inherit;
        margin:auto;
        max-width: 800px;
        margin-bottom: 70px;
        width: 80vw;
    }

    .project-element-grid-container-2-js{
        display: flex;
        flex-direction: column;
        background-color: inherit;
        margin:auto;
        max-width: 800px;
    }

    .grid-item-project-thumbnail iframe{
        justify-self: center;
        width: 100%;
    }

    .grid-item-project-thumbnail img{
        width: 100%;
    }

    .grid-item-project-thumbnail{
        border-top-right-radius: inherit;
        border-bottom-left-radius: 0;
    }

    .grid-item-project-detail{
        justify-self: center;
        margin-bottom: 0;
        padding-bottom: 10px;
        border-left: none;
    }
    
    .grid-item-project-detail-no-js{
        display: none;
    }

    .grid-item-project-detail{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background-color: rgb(247, 227, 223);
    }

    .grid-item-project-detail-js{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background-color: rgb(247, 227, 223);
        padding-bottom: 10px;
    }

    .project-toggle-desc-js{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 5px 0;
        background-color: rgb(247, 227, 223);
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }

    .project-toggle-desc-js #toggle-desc-prompt{
        border: none;
        background-color: inherit;
        font-size: 1em;
        font-weight: 600;
        color: rgb(102, 7, 7);
    }

    .project-toggle-desc-js #toggle-desc-prompt:hover{
        cursor: pointer;
    }

    .animate-desc{
        animation: show-desc .3s ease-in forwards;
        transform-origin: center center;
    }
    
    @keyframes show-desc{
        0% {
            opacity: 0.5;
            transform: rotateX(-90deg)
        }
        70% {
            opacity: .7;
            transform: rotateX(20deg) 
        }
        100% {
            opacity: 1;
            transform: rotateX(0deg) 
        }
    }
}

@media screen and (max-width:768px) {
    .nav-reg{
        display: none;
    }

    label[for="mobile-menu"]{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
        padding: 20px;
    }

    #nav-icon3 {
        width: 30px;
        height: 10px;
        position: relative;
        margin-bottom: 10px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }
      
    #nav-icon3 span {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: #000000;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    #nav-icon3 span:nth-child(1) {
        top: 0px;
    }
      
    #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
        top: 10px;
    }
      
    #nav-icon3 span:nth-child(4) {
        top: 20px;
    }
      
    #mobile-menu:checked ~ label[for="mobile-menu"] #nav-icon3 span:nth-child(1) {
        top: 15px;
        width: 0%;
        left: 50%;
    }
      
    #mobile-menu:checked ~ label[for="mobile-menu"] span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
      
    #mobile-menu:checked ~ label[for="mobile-menu"] span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
      
    #mobile-menu:checked ~ label[for="mobile-menu"] span:nth-child(4) {
        top: 15px;
        width: 0%;
        left: 50%;
    }

    #mobile-menu:checked ~ .nav-mobile{
        display: block;
        position: relative;
        transition: 3s ease-out;
        border-radius: 5px;
    }
    
    #mobile-menu:checked ~ .nav-ul-mobile{
        display: block;
        border-radius: 5px;
    }

    .nav-ul-mobile{
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        display: inline-block;
        border-radius: 5px;
    }

    .nav-ul-mobile li {
        overflow: hidden;
        padding-left: 0;
        padding-right: 0;
        font-weight: 800;
        background-color: rgba(136, 214, 243, 0.9);
        animation: rotate-menu .2s ease-in forwards;
        transform-origin: center center;
    }
    
    @keyframes rotate-menu {
        0% {
            /* opacity: 0.5; */
            transform: rotateX(-90deg)
        }
        70% {
            /* opacity: .7; */
            transform: rotateX(20deg) 
        }
        100% {
            /* opacity: 1; */
            transform: rotateX(0deg) 
        }
    }

    .nav-ul-mobile li a {
        padding-left: 10px;
    }

    #home{
        padding-bottom: 30%;
    }

    #home-values, #home-name{
        margin-left: 5ch;
        margin-right: 5ch;
    }
    
    .grid-item-pic img{
        width: 370px;
        height: 483px;
    }

    .project-element-grid-container-2{
        display: flex;
        flex-direction: column;
        background-color: inherit;
        max-width: 600px;
    }

    .grid-item-project-thumbnail iframe{
        width: 100%;
    }
}

@media screen and (max-width:480px) {
    .project-element-grid-container-2{
        display: flex;
        flex-direction: column;
        background-color: inherit;
        max-width: 450px;
    }

    #home-content{
        margin-bottom: 50%;
    }

    #home-name, #home-values{
        margin: 3ch;
    }
    #home-name{
        width: fit-content;
    }
    
    #home-name h1 {
        font-size: 3em;
    }
    
    #home-values h3{
        font-size: 1.5em;
    }

    .grid-item-pic img{
        width: 320px;
        height: 418px;
    }
}